$orange: #97340b;
$dark-brown: #3c1601;
$beige: #be9080;
$gray: #b4b8c4;
$bp-sm-max: 767px;
$bp-md-min: 768px;
$bp-md-max: 1043px;
$bp-lg-min: 1044px;

@font-face
{
  font-family: 'le monde';
  src: url('../assets/fonts/le monde regular.otf') format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face
{
  font-family: 'le monde';
  src: url('../assets/fonts/le monde demi.otf') format("opentype");
  font-weight: 600;
  font-display: swap;
}

@font-face
{
  font-family: 'le monde';
  src: url('../assets/fonts/le monde bold.otf') format("opentype");
  font-weight: 700;
  font-display: swap;
}

@font-face
{
  font-family: 'le monde';
  src: url('../assets/fonts/le monde boldit.otf') format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face
{
  font-family: 'le monde';
  src: url('../assets/fonts/le monde italic.otf') format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face
{
  font-family: 'Gill Sans';
  src: url('../assets/fonts/Gill Sans.otf') format("opentype");
  font-weight: normal;
  font-display: swap;
}

@mixin container
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media screen and (min-width: $bp-md-min)
  {
    width: $bp-sm-max;
    max-width: $bp-sm-max;
  }

  @media screen and (min-width: $bp-lg-min)
  {
    width: 100%;
    max-width: 100%;
  }
}

.hidden-xs
{
  display: none;

  @media screen and (min-width: $bp-md-min)
  {
    display: block;
  }
}

.visible-only-xs
{
  display: block;

  @media screen and (min-width: $bp-md-min)
  {
    display: none;
  }
}

.is-hidden
{
  display: none;
}

body
{
  font-family: 'le monde';
}

.background-church
{
  background-image: url('../assets/images/mobilebg.jpg');
  background-size: auto;

  @media screen and (min-width: $bp-lg-min)
  {
    background-repeat: no-repeat;
    background-image: url('../assets/images/background.jpg');
    background-position-x: 50%;
  }
}

.background-tan
{
  background-color: $beige;
}

.background-gray
{
  background-color: $gray;
}

.Header
{
  font-family: 'le monde';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  &-wrapper
  {
    position: relative;
    background-color: #f2ded5;

    @media screen and (max-width: $bp-sm-max)
    {
      height: 74px;
    }
  }

  &-menu
  {
    display: flex;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    transition: 0.3s all ease;

    @media screen and (max-width: $bp-sm-max)
    {
      flex-direction: column;
      padding: 0;
      position: absolute;
      left: -100%;
      width: 100%;
      background-color: #f2ded5;
    }
  }

  &-menuItem
  {
    display: block;
    border-bottom: 1px solid $dark-brown;

    @media screen and (min-width: $bp-md-min)
    {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
    }

    &--instagram
    {
      @media screen and (min-width: $bp-md-min)
      {
        margin-left: auto;
      }

      &:hover
      {
        background-color: $beige;
      }
    }
  }

  &-menuLink
  {
    color: $dark-brown;
    padding: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    &:hover
    {
      text-decoration: underline;
    }

    &--current
    {
      text-decoration: underline;
      pointer-events: none;
    }
  }

  &-menuInstagram
  {
    height: 30px;
    width: 30px;
  }

  &-toggle
  {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;
  }

  &-toggle::before,
  &-toggle::after,
  &-toggleBar
  {
    background-color: $dark-brown;
    content: '';
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.3s ease all;
  }

  &.is-active
  {
    .Header-menu
    {
      left: 0;
    }

    .Header-toggle
    {
      left: calc(100vw - 62px);
    }

    .Header-toggle::before
    {
      transform: translateY(13px) rotate(135deg);
    }

    .Header-toggle::after
    {
      transform: translateY(-12px) rotate(-135deg);
    }

    .Header-toggleBar
    {
      transform: scale(0);
    }
  }
}

.Hero
{
  @include container;

  margin-top: 100px;

  @media screen and (min-width: $bp-md-min)
  {
    margin-top: 240px;
  }

  &--about
  {
    @media screen and (min-width: $bp-md-min)
    {
      margin-top: 150px;
    }
  }

  &-title
  {
    font-size: 40px;
    font-weight: 700;
    color: $orange;
    text-align: center;
    margin: 0 0 20px 0;
    text-transform: uppercase;

    @media screen and (min-width: $bp-md-min)
    {
      font-size: 70px;
    }

    @media screen and (min-width: $bp-lg-min)
    {
      font-size: 150px;
    }
  }

  &-comingSoon &-title
  {
    font-size: 40px;
    margin-top: 40px;

    @media screen and (min-width: $bp-md-min)
    {
      font-size: 70px;
    }

    @media screen and (min-width: $bp-lg-min)
    {
      font-size: 100px;
    }
  }

  &-description
  {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    margin-left: 12px;
    margin-right: 12px;

    @media screen and (min-width: $bp-md-min)
    {
      font-size: 24px;
    }
  }

  &--about
  {
    width: 100%;

    @media screen and (min-width: $bp-md-min)
    {
      width: $bp-sm-max;
      max-width: $bp-sm-max;
    }
  
    @media screen and (min-width: $bp-lg-min)
    {
      width: $bp-md-max;
      max-width: $bp-md-max;
    }
  }

  &--about &-title
  {
    font-size: 32px;

    @media screen and (min-width: $bp-md-min)
    {
      font-size: 50px;
    }

    @media screen and (min-width: $bp-lg-min)
    {
      font-size: 60px;
    }
  }

  &--about &-description
  {
    font-style: normal;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 32px;
  }

  &--contact &-description
  {
    font-size: 16px;
    font-style: normal;

    @media screen and (min-width: $bp-md-min)
    {
      font-size: 24px;
    }

    a
    {
      &:hover
      {
        text-decoration: none;
      }
    }
  }

  &-descriptionSub
  {
    margin-top: 40px;
    font-style: normal;
    font-weight: bold;

    @media screen and (min-width: $bp-lg-min)
    {
      margin-top: 40px;
    }
  }

  &-divider
  {
    margin-left: 12px;
    margin-right: 12px;
    display: block;
    line-height: 12px;

    @media screen and (min-width: $bp-md-min)
    {
      display: inline;
    }
  }
}

.Email
{
  @include container;

  text-align: center;
  margin: 45px auto;
  width: 90vw;

  @media screen and (min-width: $bp-md-min)
  {
    margin: 90px auto;
    width: 100%;
  }

  &-container
  {
    background-color: rgba(60, 22, 1, 0.9);
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;

    @media screen and (min-width: $bp-md-min)
    {
      padding: 32px 80px 44px;
      display: inline-flex;
    }
  }

  &-title
  {
    font-size: 20px;
    font-weight: 500;
    color: $beige;
    font-family:'Gill Sans', sans-serif;

    @media screen and (min-width: $bp-md-min)
    {
      font-size: 32px;
      font-weight: 600;
    }
  }

  &-submitArrow
  {
    width: 20px;
    margin-left: 12px;
    position: relative;
    left: 0;
    transition: left 0.3s ease;
  }

  &-submitButton
  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    margin: 10px auto 0;
    background-color: $dark-brown;
    border: 1px solid $beige;
    color: $beige;
    cursor: pointer;
    font-family: 'Gill Sans';
    font-size: 16px;
    width: 150px;

    &:hover
    {
      .Email-submitArrow
      {
        left: 6px;
      }
    }

    @media screen and (min-width: $bp-md-min)
    {
      margin: 0;
      border: none;
      width: auto;
      font-size: 18px;
    }
  }
  
  &-submitText
  {
    position: relative;
    top: 2px;
  }

  &-submitWrapper
  {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    width: 100%;
    margin-top: 10px;

    @media screen and (min-width: $bp-md-min)
    {
      flex-direction: row;
      border: 1px solid $beige;
      width: auto;
      margin-top: 20px;
    }
  }

  &-submit
  {
    padding: 8px 20px;
    color: $dark-brown;
    font-size: 16px;
    background-color: $beige;
    border: 2px solid $dark-brown;

    &::placeholder
    {
      color: $dark-brown;
      font-family: 'Gill Sans';
      font-size: 18px;
    }

    @media screen and (min-width: $bp-md-min)
    {
      width: 280px;
      font-size: 18px;
    }
  }
}

.Lookbook
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  @media screen and (min-width: $bp-md-min)
  {
    width: 80vw;
  }
}

.Header.is-active + .Lookbook
{
  @media screen and (max-width: $bp-sm-max)
  {
    margin-top: 440px;
  }
}
